{
  "parser": "@typescript-eslint/parser",
  "extends": [
    // "next",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "prefer": "no-type-imports",
    "prefer-const": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "comma-dangle": ["error", "never"],
    "react/no-unescaped-entities": "off",
    "@next/next/no-img-element": "off",
    "react-hooks/rules-of-hooks": "off",
    "@next/next/no-sync-scripts": "off",
    "object-curly-newline": "off",
    "react-hooks/exhaustive-deps": "off",
    "max-depth": ["error", 4]
  }
}
